name: KICS Scan

on:
  push:
    paths:
      - '*'
  pull_request:
    paths:
      - '*'

jobs:
  kics-scan:
    name: Run KICS Scan
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository
      - name: Checkout Code
        uses: actions/checkout@v3

      # Run KICS Scan
      - name: Run KICS with Configuration
        uses: checkmarx/kics-github-action@v2.1.15
        with:
          path: "."
          config_path: ./kics-config.yml
