# This is a basic workflow to help you get started with Actions

name: kics

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  RunTerraformValidation:
    name: Run Terraform SAST
    runs-on: ubuntu-latest

    steps:
      - name: Clone the Repository
        uses: actions/checkout@v4

      - name: run kics Scan
        uses: checkmarx/kics-github-action@v2.1.15
        with:
          path: '.'
          fail_on: high,medium
          output_path: myResults/
